*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    background: url(../src/assets/Header.img/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 1200px;
    margin: auto;
}
.section{
    width: 1200px;
    margin: auto;
}
.RedLine_005{
    background: #ED4C5C;
}
.RedLine_007{
    width: 1200px;
    margin: auto;
}